MONGODB_URI=mongodb://swwm2004:95129512Aaswwm@cluster0-shard-00-00.urwvgr2.mongodb.net:27017,cluster0-shard-00-01.urwvgr2.mongodb.net:27017,cluster0-shard-00-02.urwvgr2.mongodb.net:27017/aivio_presale?ssl=true&replicaSet=atlas-urwvgr2-shard-0&authSource=admin&retryWrites=true&w=majority
